body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#image_phone_size{
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.5s ease-in-out;
    max-width: 100%;
    max-height: 100%;
}
#client {
    position: absolute;
    top: 526px;
    left: 46px;
    font-weight: bold;
    font-size: 25px;
}
#command{
    position: absolute;
    top: 577px;
    left: 50px;
    font-size: 20px;
}

#clickableArea {
    position: absolute;
    width: 397px;
    height: 76px;
    top: 695px;
    left: 54px;
}
.loadersmall{
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}